/*fix mac code*/
.prose pre.highlight-wrap {
    position: relative;
    background: #21252b;
    border-radius: 5px;
    font: 15px/22px "Microsoft YaHei", Arial, Sans-Serif;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    text-shadow: none;
    color: #000;
    padding-top: 30px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .4)
}

.prose pre.highlight-wrap:before {
    content: " ";
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    left: 12px;
    margin-top: -18px;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    z-index: 2
}

.prose pre.highlight-wrap .copy-code {
    color: #fff;
    position: absolute;
    float: right;
    right: 10px;
    top: 0;
    padding-top: 4px;
    padding-right: 2px;
    z-index: 2;
    font-size: 16px;
}

.prose pre.highlight-wrap .copy-code:hover {
    color: rgba(255,255,255,.5);
}

.prose pre .hljs-ln-line span::-moz-selection,
.prose pre .hljs-ln-line::-moz-selection {
    background: #fff;
    color: #21252b
}

.prose pre .hljs-ln-line span::selection,
.prose pre .hljs-ln-line::selection {
    background: #fff;
    color: #21252b
}

.prose pre.highlight-wrap code::-webkit-scrollbar {
    height: 10x !important;
    width: 10x !important;
    background-color: #1d1f21 !important
}

.prose pre.highlight-wrap code::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3) !important;
    border-radius: 10px !important;
    background-color: #21252b !important
}

.prose pre.highlight-wrap code::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5) !important;
    background-color: #21252b !important
}

.prose pre table.hljs-ln::-webkit-scrollbar {
    height: 10x !important;
    width: 10x !important;
    background-color: #1d1f21 !important;
}
.prose pre table.hljs-ln::-webkit-scrollbar-track {
    background-color: #41454a;
}
.prose pre table.hljs-ln::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5) !important;
    background-color: #21252b !important;
}

.prose pre.highlight-wrap code {
    color: #fff;
    word-break: break-word;
    font-family: 'Source Code Pro', monospace, Helvetica, Tahoma, Arial, STXihei, "STHeiti Light", "Microsoft YaHei", sans-serif;
    padding: 2px;
    text-shadow: none;
    border-radius: 0 0 5px 5px;
}

.prose pre.highlight-wrap code[data-rel]:before {
    color: #fff;
    content: attr(data-rel);
    height: 30px;
    line-height: 30px;
    background: #21252b;
    font-size: 16px;
    position: absolute;
    margin-top: -30px;
    left: 0;
    width: 100%;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    padding: 0 80px;
    text-indent: 15px;
    text-align: center;
    float: left;
    z-index: 1;
    border-radius: 5px 5px 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    pointer-events: none
}

.prose pre .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #abb2bf;
    background: rgba(254, 250, 199, .5);
    border-radius: 10px
}

.prose pre .hljs-comment,
.prose pre .hljs-quote {
    color: #888f96;
    font-style: italic
}

.prose pre .hljs-doctag,
.prose pre .hljs-formula,
.prose pre .hljs-keyword {
    color: #c678dd
}

.prose pre .hljs-deletion,
.prose pre .hljs-name,
.prose pre .hljs-section,
.prose pre .hljs-selector-tag,
.prose pre .hljs-subst {
    color: #e06c75
}

.prose pre .hljs-literal {
    color: #56b6c2
}

.prose pre .hljs-addition,
.prose pre .hljs-attribute,
.prose pre .hljs-meta-string,
.prose pre .hljs-regexp,
.prose pre .hljs-string {
    color: #98c379
}

.prose pre .hljs-built_in,
.prose pre .hljs-class .hljs-title {
    color: #e6c07b
}

.prose pre .hljs-attr,
.prose pre .hljs-number,
.prose pre .hljs-selector-attr,
.prose pre .hljs-selector-class,
.prose pre .hljs-selector-pseudo,
.prose pre .hljs-template-variable,
.prose pre .hljs-type,
.prose pre .hljs-variable {
    color: #d19a66
}

.prose pre .hljs-bullet,
.prose pre .hljs-link,
.prose pre .hljs-meta,
.prose pre .hljs-selector-id,
.prose pre .hljs-symbol,
.prose pre .hljs-title {
    color: #61aeee
}

.prose pre .hljs-emphasis {
    font-style: italic
}

.prose pre .hljs-strong {
    font-weight: 700
}

.prose pre .hljs-link {
    text-decoration: underline
}

.prose pre .hljs-ln {
    margin: 6px 0 0 0 !important
}

.prose pre td .hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #888f96;
    background: #1d1f21;
    font-family: 'Source Code Pro', monospace, Helvetica, Tahoma, Arial, STXihei, "STHeiti Light", "Microsoft YaHei", sans-serif;
    vertical-align: top;
    position: absolute;
    left: 0;
    width: 30px
}

.prose pre .hljs-ln-code .hljs-ln-line {
    margin-left: 22px;
}

.prose pre .hljs-ln-code .hljs-ln-line:hover {
    background-color: rgba(255, 255, 255, .1)
}

.prose pre .hljs-ln{border-collapse:collapse}
.prose pre .hljs-ln td{padding:0}
.prose pre .hljs-ln-n:before{content:attr(data-line-number)}

/*fix*/
.prose pre table tr {
    background-color: transparent;
    border-top: none;
}

.prose pre table th, .prose pre table td {
    border: none;
}

.prose pre table tr {
    background-color: transparent;
    border-top: 0;
}

.prose pre table tr:nth-child(2n) {
    background-color: transparent;
}

.code-block-fullscreen {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    z-index: 9999999 !important;
    margin: 0 !important;
    animation: elastic 1s !important
}

.code-block-fullscreen code {
    --widthA: 100%;
    --widthB: calc(var(--widthA) - 30px);
    height: var(--widthB) !important;
    min-height: 99% !important;
    overflow-y: hidden !important;
    overflow-x: auto !important;
    height: auto !important
}

.code-block-fullscreen-html-scroll {
    overflow: hidden !important
}

/*other fix*/
.prose ol,.prose ul {
    margin: auto !important;
}


#TOC-btn {
  position        : fixed;
  right           : 1rem;
  background-color: var(--bs-white);
  bottom          : 50%;
  border-radius   : 6px;
  z-index         : 10;
  -webkit-writing-mode    : tb;
  -ms-writing-mode    : tb;
  writing-mode    : tb;
  cursor          : pointer;
}

#TOC-btn:hover .TOC-ctx {
  visibility: visible;
  opacity   : 1;
  transform : scaleX(-1);
}

#TOC-btn svg {
  vertical-align: baseline;
}

.TOC-ctx {
  min-height      : 18rem;
  position        : absolute;
  left            : -5px;
  top             : 0;
  box-shadow      : 0 4px 8px rgba(31, 45, 61, .2);
  background      : #fff;
  padding         : .75rem;
  border-radius   : .5rem;
  transform-origin: 0 -5px;
  transform       : scaleX(0);
  opacity         : 0;
  visibility      : hidden;
  transition      : .25s;
  max-height      : 22rem;
  overflow-y      : auto;
}

.toc-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 25px;
}
.toc-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 25px;
}

.toc-list-item .toc-list {
  text-indent: 20px;
}

